<div class="todoContainer">
    <span>
        <label class="todo-data">
            <span *ngIf="!isEdited">{{text}}</span>
            <mat-form-field *ngIf="isEdited">
                <input matInput name="newTask" placeholder="New Task" [(ngModel)]="text">
            </mat-form-field>
        </label>

    </span>

    <div color="primary" (click)="removeTodoItem(id)" style="cursor: pointer;" *ngIf="!isEdited">
        <span class="material-icons">
            delete
        </span>
    </div>

    <div color="primary" (click)="editTodoItem(id)" style="cursor: pointer;" *ngIf="!isEdited">
        <span class="material-icons">
            create
        </span>
    </div>

    <div color="primary" (click)="updateTodoItem(id)" style="cursor: pointer;" *ngIf="isEdited">
        <span class="material-icons">
            save
        </span>
    </div>

    <div color="primary" (click)="cancelTodoItem(id)" style="cursor: pointer;" *ngIf="isEdited">
        <span class="material-icons">
            cancel
        </span>
    </div>

    <star-rating-comp [starType]="'svg'" [rating]="2.63"></star-rating-comp>

</div>